
<%= link_to user_path(user), class: "user-list-item" do %>
    <li class="list_item border-black ">
      <%= image_tag user.photo %>
      <div class="user_info">
        <h2><%= user.name %></h2>
        <p>Number of posts: <%= user.posts_counter %></p>
      </div>
    </li>
  <% end %>
